<div class="content" role="main">

    <!-- Highlight Card -->
    <div class="card highlight-card card-small">
      <img
      width="40"
      alt="Angular Logo"
      src="./assets/terminal.png"  />
      <span>
        Contact
      </span>

    </div> 
  
    <div class="card-container">
          
        <div class="terminalcontact">
            <div class="header">
              <div class="buttons">
                <div class="button close"></div>
                <div class="button minimize"></div>
                <div class="button expand"></div>
              </div>
            </div>
            <div class="body">
              <form>
                <div class="form-group">
                  <label for="name"> davidli@Portfolio:<ins style="color: rgb(117, 182, 207); text-decoration: none;">/home/Contact</ins><ins href="https://github.com/BanggEddy" target="_blank" style="color: rgb(255, 255, 255); text-decoration: none;">$ Name:</ins></label>
                  <input type="text" id="name" name="name" style="width: 1200px;">
                </div>
                <div class="form-group">
                  <label for="name"> davidli@Portfolio:<ins style="color: rgb(117, 182, 207); text-decoration: none;">/home/Contact</ins><ins href="https://github.com/BanggEddy" target="_blank" style="color: rgb(255, 255, 255); text-decoration: none;">$ Email:</ins></label>
                  <input type="email" id="email" name="email" style="width: 1200px;">
                </div>
                <div class="form-group">
                  <label for="name"> davidli@Portfolio:<ins style="color: rgb(117, 182, 207); text-decoration: none;">/home/Contact</ins><ins href="https://github.com/BanggEddy" target="_blank" style="color: rgb(255, 255, 255); text-decoration: none;">$ Message:</ins></label>
                  <textarea id="message" name="message" style="width: 1200px; height: 150px;"></textarea>
                </div>
                <button type="submit">Send</button>
              </form>
            </div>
          </div>
          
  
    </div>
  
    <input type="hidden" #selection>
  
    <!-- Footer -->
    <footer>
      <br>
      <br>
  
     <p style="text-align: center; color:#e4e4e4;"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="10" fill="currentColor" class="bi bi-c-circle" viewBox="0 0 16 16">
      <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512Z"/>
    </svg> 2023 David LI. All right Reserved </p>
    </footer>
  

  </div>